body {
    background: rgb(255, 255, 255);
}
h1 {
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.div1 {
    background: rgb(189, 161, 49);
    height: auto;
    text-align: center;
    left: auto;
    right: auto;
}
.cabecera {
    font-size:50px;
    color: blue;
    text-align: center;
    left: auto;
    right: auto;
}